<div class="nav-lateral">
    <div class="links-lateral">
        <ul>
            <li><a href="/dashboard">Início</li></a>
            <li><a href="/dashboard/usuarios">Usuários</li></a>
            <li><a href="/dashboard/produtos">Produtos</li></a>
        </ul>
    </div>
</div>