<!DOCTYPE html>
<html lang="pt-br">

<%- include('./partials/head') %>


    <body>
        <header>
            <div class="header-admin">
                <h5>DH Tech admin</h5>
            </div>
        </header>

        <main class="dashboard">
            <%- include('./partials/nav-dashboard') %> 
        </main>

        
    </body>

</html>