<!DOCTYPE html>
<html lang="pt-br">

    <%- include('./partials/head') %> 

<body>
    <%- include('./partials/header') %>

    <main id="login">
        
        <div class="container">
            
            <div class="conteudo">

                <h1>Seja bem vindo (a)</h1>
        
                <div class="box-login">

                    <a class="logo" href="index.html"> <img src="/images/logo.gif" alt="logo" width="100">  </a>
                    <form>
                        <label for="email">Email</label>
                        <input type="email" id="email" placeholder="digite seu email">

                        <label for="password">Senha</label>
                        <input type="password" id="password" placeholder="digite sua senha">

                        <button class="btn-login">Entrar</button>
                        <button class="btn-google">Acessar com Google <img class="icon-google" src="/images/google_icon-icons.com_62736.svg"></button>
                        <button><a href="#">Registre-se</a></button>

                        <a href="#">esqueci minha senha</a>
                        
                    </form>

                </div>

            </div>
            
        </div>

    </main>

    <%- include('./partials/footer') %>

</body>
</html>