<!DOCTYPE html>
<html lang="pt-br">

<%- include('./partials/head') %>

  <body>
    <%- include('./partials/header') %>

      <div id="box-pgto" class="container">

        <div id="box-pgto-esq" class="container-sm">
          <a class="logo" href="index.html"> <img src="/images/logo.gif" alt="logo" width="110"></a>
        </div>

        <div id="box-pgto-dir" class="container">

          <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">

            <div class="carousel-inner">

              <div class="carousel-item active" data-bs-interval="10000">

                <form action="" method="POST">

                  <h3>Pagamento</h3>
                  <div class="form-floating" id="forma-pgto">
                    <select name="pagamento" class="form-select" id="floatingPagamento">

                      <option selected value="credito">Cartão de Crédito</option>
                      <option value="boleto">Boleto</option>
                    </select>
                    <label for="floatingPagamento">Forma de pagamento</label>
                  </div>


                  <div class="form-floating">
                    <input type="number" name="cardnumber" class="form-control" id="floatingCard" value="">
                    <label for="floatingCard">numero do cartão</label>
                  </div>

                  <div class="row g-2">

                    <div class="col-md">
                      <div class="form-floating">
                        <input type="text" name="validade" id="floatingValidade" class="form-control" value="">
                        <label for="floatingValidade">validade</label>
                      </div>
                    </div>

                    <div class="col-md">
                      <div class="form-floating">
                        <input type="number" name="cvv" class="form-control" id="floatingCvv">
                        <label for="floatingCvv">CVV</label>
                      </div>
                    </div>

                  </div>

                  <div class="form-floating">
                    <input type="number" name="cpf" class="form-control" id="floatingCpf">
                    <label for="floatingCpf">CPF</label>
                  </div>

                  <div class="form-floating">
                    <input type="text" name="nome" class="form-control" id="floatingName">
                    <label for="floatingName">Nome</label>
                  </div>

                  <div class="form-floating">
                    <select name="parcelamento" class="form-select" id="floatingParcelamento" value="">
                      <option selected disabled></option>
                      <option value="credito">1x</option>
                      <option value="boleto">2x</option>
                      <option value="boleto">3x</option>
                    </select>
                    <label for="floatingParcelamento">Parcelamento</label>
                  </div>

                  <!-- <div class="row g-2">
                    <div class="col-md">
                      <button class="carousel-control-prev" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">Voltar</button>
                    </div>
                    <div class="col-md">
                      <button type="submit" class="carousel-control-next" data-bs-target="#carouselExampleInterval" data-bs-slide="next">Próximo</button>

                      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="false"></span>
                        <span class="visually">Next</span>
                      </button>

                    </div>
                  </div> -->

                </form>

              </div>

              <div class="carousel-item" data-bs-interval="2000">

                <form>

                  <h3>Pagamento</h3>

                  <div class="form-floating">
                    <input type="number" name="cardnumber" class="form-control" id="floatingCard" value="">
                    <label for="floatingCard">numero do cartão</label>
                  </div>

                  <div class="row g-2">

                    <div class="col-md">
                      <div class="form-floating">
                        <input type="text" name="validade" id="floatingValidade" class="form-control" value="">
                        <label for="floatingValidade">validade</label>
                      </div>
                    </div>

                    <div class="col-md">
                      <div class="form-floating">
                        <input type="number" name="cvv" class="form-control" id="floatingCvv">
                        <label for="floatingCvv">CVV</label>
                      </div>
                    </div>

                  </div>

                  <div class="form-floating">
                    <input type="number" name="cpf" class="form-control" id="floatingCpf">
                    <label for="floatingCpf">CPF</label>
                  </div>

                  <div class="form-floating">
                    <input type="text" name="nome" class="form-control" id="floatingName">
                    <label for="floatingName">Nome</label>
                  </div>
                </form>

              </div>

            </div>

            <button id="btn-pgto-prev" class="carousel-control-prev" type="button"
              data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button id="btn-pgto-next" class="carousel-control-next" type="button"
              data-bs-target="#carouselExampleInterval" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>

          </div>

        </div>

      </div>


      <%- include('./partials/footer') %>
        <%- include('./partials/javascriptbootstrap') %>

  </body>

</html>