@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, img, tt,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, tbody, tfoot, thead, tr, th, td, footer, header, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
}

.logo img {margin: auto 10px;}
.container { margin: 0 auto; width: 95vw;}
header, footer { background-color: #3A2E8A; }
.cabecalho, .rodape {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* HEADER */

.nav-menu { 
    background-color: #577ec75d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: 10px 20px;
    border-radius: 10px;
}
.nav-menu li {
    padding-right: 20px;
    font-weight: 400;
    font-size: 16px;
    margin: 0 10px;
}
.nav-menu li a{
    text-decoration: none;
    color:white;
}
.nav-menu svg { margin: auto 10px; color:white; border:none;}
.nav-menu svg:hover, .nav-menu li:hover a {
    color: black;
    transition: .5s ease-in-out;
    cursor:pointer;
}
.entrar { background-color: #3A2E8A; border-radius: 10px; padding: 8px; box-shadow: 1px 1px 2px black;}
.entrar:hover { background-color: #577ec75d; cursor: pointer;}
.entrar a { text-transform: uppercase; }



/* MAIN */
main#login { background-image: url("/images/giphy.gif"); background-repeat: no-repeat; background-size:cover; }

.conteudo {
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.conteudo > h1 {font-family: 'Roboto',sans-serif; font-weight: 400; color: black; font-size: 48px;}


/* LOGIN */
.box-login {
    background-color: rgba(255, 255, 255, 0.138);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    width: 30%;
    padding-bottom: 20px;
    border: 1px solid grey;
    box-shadow: 1px 1px 5px grey;
}
.box-login a img { margin: 10px auto; display: flex; justify-content: center; border-radius: 10px; opacity: .8;}
form { display: flex; flex-direction: column; margin: 0 50px; font-family: 'Roboto', sans-serif;}
form input {width: 100%; border-radius: 5px; margin: 5px auto; font-size: 20px;}
form button {width: 100%; border-radius: 10px; font-size: 16px; padding: 5px; margin: 5px auto;border:none; }
form button a { text-decoration: none; color: black; }
form a {margin: 0 auto; font-weight: 400; text-decoration: none; color: rgb(43, 43, 167)}
form button:hover {background-color: #577ec75d; transition: .5s ease-in-out; cursor: pointer; box-shadow: 1px 1px 5px black; border: none; color:white;}
form #password::placeholder, form #email::placeholder {padding: 5px; font-size: 12px;}
.icon-google { width: 18px; height: 18px; margin-left: 5px;}
.btn-login {background-color: #3A2E8A;}


/* FOOTER */

.nav-footer {
    display: flex;
    align-items: left;
    justify-content: space-between;
    padding: 20px;
    background-color: #577ec75d; border-radius: 10px;
    margin: 10px 20px;
}

.nav-footer ul {
    margin: 0 40px;
    font-size: 12px;
}
.nav-footer li {padding: 5px;}
.nav-footer li a{
    text-decoration: none;
    color: white;
}
.nav-footer li:hover a{
    color: black;
}
.redes-sociais { 
    width: 20%;
    display: flex; 
    justify-content: space-between; 
    padding: 10px;
    color: white;
}
.redes-sociais svg { width: 20px; }
.redes-sociais svg:hover { color: black; cursor: pointer; transition: .5s ease-in-out;}





/* MAIN HOME */
.carrousel-section { margin: 20px auto; }
.carousel-item img { border-radius: 10px; }

.content-iphone { display: flex; justify-content: space-around; padding: 20px; flex-wrap: wrap; }
.content-iphone .card .card-title { font-size: 1rem; }
.content-iphone .card img { height: 70%; }
.content-iphone .card:hover { cursor: pointer; box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.481); }
.card-body {  display: flex; flex-direction: column; justify-content: space-between; }

.card-price { font-size: 1rem; font-weight: 400; }
.card-text {  font-size: .8rem; margin-bottom: 5px;}

.card-body-hidden { display: none;}





/* DASHBOARD */

.header-admin { display:flex; height: 50px;}
.header-admin .company-name { width: 14%; padding: 2px; text-align: left; background-color: #577ec75d; color: black; }
.header-admin .company-name h5 { font-size: 1.5rem; font-style: italic; margin: 2px auto; text-align: center;}
.header-admin .admin-search-top {  width: 86%;}
.header-admin .admin-search-top input { width: 90%; height: 90%; padding: 2px; margin: 2px auto;}

.dashboard { display: flex; justify-content: space-between; }
.nav-lateral { width: 14%;  background-color: #3A2E8A;}
.links-lateral { padding: 5px; }
.links-lateral ul { margin: 0 auto; padding: 10px 2px 10px 2px;}
.links-lateral ul li { margin: 15px auto; width: 100%; padding: 8px;}
.links-lateral ul li:hover { background-color: #577ec75d; cursor: pointer; border-radius: 15px;}
.links-lateral ul li a { text-decoration: none; color: black; width: 100%; padding: 2px;}
.links-lateral ul li:hover a { color: white;}


.row-fluid { width: 86%; }
.row-container { display: flex; flex-direction: column; width: 95%; margin: 10px auto;  }
.box-search { width: 25%; margin: 20px; padding: 8px; display: flex; justify-content: space-between; align-items: center; border: 1px solid black; border-radius: 10px;}
.box-search input { width: 90%;}
.box-search-add { display: flex; align-items: center; }
.btn-add { display: flex; justify-content: space-around; align-items: center;} 
.btn-add { padding: 6px; width: 120px; border-radius: 10px; background-color: #3A2E8A; color:white; box-shadow: 1px 1px 2px black;  }
.btn-add:hover {  color:black; }


.tag-status { background-color: green; color:white; text-align: center; border-radius: 15px; font-size: 12px; padding: 5px; box-shadow: 1px 1px 2px black;}
.btn-edit, .btn-view, .btn-delete { border-radius: 15px; padding: 2px; text-align: center; box-shadow: 1px 1px 2px black;}
.btn-delete { color: red; font-weight: bold;}
.btn-edit:hover, .btn-view:hover { cursor: pointer; background-color: rgba(133, 133, 133, 0.33);}
.btn-delete:hover { cursor: pointer; background-color: rgba(255, 0, 0, 0.652); color: black; }



/* FORMULARIO NOVO CLIENTE */
.body-register {display:flex; flex-direction: column;}
.header-form-register { margin: 10px auto }
.header-form-register .logo img {border-radius: 20px; margin: 5px;}
#form-register { padding: 15px; background-color: rgba(255, 210, 255, 0.28); width: 60%; margin: 0 auto; border-radius: 10px;}
#form-register input, label, select.form-select, button.btn-primary { margin: 8px auto; }
#form-register button.btn-primary {background-color: #3A2E8A;}
#form-register .space { border-top: 1px solid grey; margin-top: 20px;}
#form-register span {  margin: 25px auto;}


/* BOX PGTO */
.box-pgto {display: flex; width: 60%; margin: 20px auto;  box-shadow: 1px 1px 8px black; border-radius: 10px;}
.box-pgto-esq {background-color: #3A2E8A; opacity: 60%; width: 40%;}
.box-pgto-dir { width: 60%; margin: 5px;}
#forma-pgto { border-bottom: 2px solid grey; margin: 5px 0;}
